{
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "@malven"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "plugins": [
     "@typescript-eslint"
  ]
}
