:root {
  --background-color: #212322;
}

html,
body {
  min-height: 100vh;
  background-color: var(--background-color);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}
